html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.col-lg-6 > h2 {
    color: #379f4a;
    text-align: center;
}

.jumbotron h1 {
    color: #24651f;
    font-size: 54px;
    text-shadow: 0 0 2px #70d520;
}

.jumbotron p {
    color: #04a08e;
    font-size: 30px;
    text-shadow: 0 0 1px #05400a;
}

.col-lg-6 > img {
    display: block;
    margin: 20px auto 40px;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

.navbar-inverse {
    background-color: #aad588;
    border-color: #0c4d12;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #06810d;
    color: #fff;
}

.navbar-inverse .btn-link {
    color: #045906;
    font-weight: 600;
}

.navbar-inverse .navbar-nav > li > a {
    color: #045906;
    font-weight: bold;
}

.navbar-brand > img {
    float: left;
    margin-right: 20px;
    width: 100px;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 47px;
    padding: 0;
}

.navbar-inverse .navbar-brand {
    color: #ae6d42;
    font-weight: 600;
}

.site-catalog img {
    margin-right: 20px;
    width: 40px;
}

.site-catalog > li {
    list-style-type: none;
}

.site-catalog h3 {
    color: #11740c;
}

.site-catalog h4 {
    color: #50931b;
}

.site-catalog > li {
    border: 1px solid #1c8c44;
    margin-bottom: 2px;
    padding: 1px;
}


@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

